# Importing pandas

In [48]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# We can create data here also unign this below methode

In [49]:
weather_data = {
    'day':['1/1/2017','1/2/2017'],
    'temperature': [32,35],
    'windspeed': [6,7],
    'event': ['Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [50]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Get the number of rows and columns in the data set

In [51]:
df.shape

(6, 4)

In [52]:
row,columns = df.shape

In [53]:
columns

4

In [54]:
row

6

# We can get the first 5 data of the data set

In [55]:
df.head()  # first 5 data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

# We can get the last five data of the data set

In [56]:
df.tail() # Last 5 data

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [57]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [58]:
df[:] # printing everything

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [59]:
df  # printing everything

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [60]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [61]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [62]:
df["day"]

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [63]:
type(df["day"])

pandas.core.series.Series

In [64]:
df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

# To get the maximum and minimum value of the temperature column

In [65]:
df['temperature'].max()

35

In [66]:
df['temperature'].min()

24

# To get the standed deviation

In [67]:
df['temperature'].std()

3.8297084310253524

# To get the Statistics of the separate columns use this one

In [68]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

# To get the Logical comparisons

In [69]:
df[df['temperature'] >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [70]:
df[df['temperature'] == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [71]:
# If you want to print the day only for above comparison do this below changes

In [72]:
df['day'][df['temperature'] == df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

# Uses of set_index() methode

In [73]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [74]:
df.set_index('day') # Data set in indexing through the day

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

# you need to modify the previous data set with new indexing days use this changes

In [75]:
df.set_index('day', inplace=True)

In [76]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [77]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

# You need to reset that indexing that you did in last lines use this rest() method

In [78]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# 3 ways of creating data frames in pandas

In [79]:
df = pd.read_csv('weather_data.csv') # reading csv files
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [80]:
df = pd.read_excel('weather_data.xlsx', 'Sheet1') 3 reading excel files
df

SyntaxError: invalid syntax (743524002.py, line 1)

In [ ]:
weather_data = {                      # creating dataframe using arrays
    'day':['1/1/2017','1/2/2017'],
    'temperature': [32,35],
    'windspeed': [6,7],
    'event': ['Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

In [ ]:
weather_data = [{'day':'1/1/2017', 'temperature':32,'windspeed':6,'event':'Rain'},
{'day':'1/1/2017', 'temperature':30,'windspeed':7,'event':'Cloudly'}]

df = pd.DataFrame(weather_data)
df